.App {

  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 44px;
  font-family: 'Inter';

}

.Main {


  display: flex;
  flex-direction: column;
  border-left: 90px solid  #fafafa;
  border-bottom: 9px solid #fafafa;
  border-right: 90px solid#fafafa;
  width: 60%;



}